<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
    <connectionStrings>
        <add connectionString="server=108.175.148.57;database=db_psichs;uid=usr_psichs;Pwd=USR_psichs2013" name="db_psichs" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>