@{
    Layout = "masterPage.cshtml";
    Test.Title = "Terapia Cognitivo Conductual";
    
}
<script src="Scripts/jquery-2.0.3.js" type="text/javascript" ></script>

<div class="TCCPaneCenter">
	<h1>Definici&oacute;n</h1>
			<p>Este modelo surge en los años 60´s y fue creado por Albert Ellis psicólogo y Aaron Beck psiquíatra ambos estadounidenses.</p>
			
			<p>Es un tipo de terapia breve, estructurada y colaborativa que se basa en pensamientos y emociones donde su objetivo es cambiar las cogniciones que afectan al paciente ya que son las responsables del estado de ánimo y la conducta, por cogniciones funcionales usando técnicas conductuales para la resolución de problemas.</p>
			
			 <p>Es decir, se enseña al paciente a identificar y evaluar pensamientos y emociones cuyo propósito es hacer este cambio siempre dirigido a resolver la queja del mismo y a proporcionar herramientas que permitan su independencia.</p>
			
			 <p>Esta terapia está centrada en el aquí y el ahora y tiene un alto grado de efectividad además que establece una cuestión dinámica y de equipo donde la alianza terapeuta-paciente es básica por ser una terapia activa y directiva y por lo tanto pone énfasis en la prevención.</p>
			
			 <p>Cabe señalar que esta terapia se basa en el aprendizaje y es una de las terapias más usadas en el mundo debido al alto grado de eficacia.</p>
		
	
	
	 	<div class="TCCToolBoxV">
	 		<ul>
				<li><a href="TestEval.cshtml" id="test_eval">Test De Evaluaci&oacute;n&nbsp;&nbsp;&nbsp;<img src="Images/test.png" alt="test"></a></li>
				<li><a href="Articles.cshtml">Articulos De Inter&eacute;s&nbsp;&nbsp;&nbsp;<img src="Images/article.png" alt="article"></a></li>
	    	</ul>

	 	</div>

        
		<div class="TCCDiv">
		<h2>Psicolog&iacute;a Hoy En D&iacute;a</h2>
		<p>La psicología clínica se encarga de la investigación de todos los factores que afecten a la salud mental.</p>

 <p>En sus inicios con la creación del primer laboratorio de psicología en 1879 por Wundt, la psicología estuvo enfocada a la evaluación con muy poca atención al tratamiento, sin embargo después de la segunda guerra mundial se produjo un incremento en la necesidad de clínicos capacitados.</p>

 <p>La psicología clínica poco a poco fue ganando terreno de inicio evaluando la conducta para explicar por que las diferencias existentes entre la población. Así se pudo independizar de la psiquiatría donde ambas especialidades generalmente tienen metas similares pero la diferencia principal es que los psiquiatras por ser médicos están legalmente autorizados para prescribir medicamentos.</p>

 <p>En cualquier caso la psicología clínica evolucionó hacia el desarrollo de tratamientos y técnicas de intervención dando paso hoy día a lo que conocemos como uno de los métodos más efectivos para la resolución de las quejas que presenta la población que es la psicoterapia.</p>
		</div>
	
		<div class="TCCDiv">
		<h2>Base Del &Eacute;xito Para El Tratamiento</h2>
		    <ul>
                <li>Generar un ambiente de respeto, confianza y empatía</li>
                <li>Llevar a cabo una historia clínica</li>
                <li>Realizar un diagnóstico</li>
                <li>Plantear el tratamiento a seguir</li>
                <li>Crear una alianza terapéutica que permita establecer un compromiso.</li>
                <li>Concluir el tratamiento y no abandonarlo para llegar a la meta y evaluar los resultados.</li>
            </ul>
		</div>
		
		<div class="TCCDiv">
		<h2>&Eacute;tica Del Psic&oacute;logo</h2>
   		    <p>El psicólogo deberá tener presente que por el solo hecho de ingresar a la comunidad de Psicólogos, se compromete  a respetar estas normas y a promover una buena imagen de su profesión.</p>

            <p>Ejercer su profesión en condiciones éticas y materiales que garanticen la calidad científica y profesional de la misma y los eminentes fines humanos que deben de caracterizarla.</p>

            <p>Respetar la integridad de la persona humana en los distintos ámbitos donde actúe profesionalmente, y velar siempre por el bienestar individual y social en la prestación de servicios de esta índole.</p>

            <p>Mantenerse en constante formación profesional y esforzarse por actualizar sus conocimientos en relación con el progreso de su disciplina.</p>

            <p>Guardar el secreto profesional, que es inherente al ejercicio de la disciplina y obligatorio para proteger los intereses del individuo y de la sociedad según las modalidades de la actividad específica del psicólogo y conforme a las leyes generales en vigor.</p>

            <p>Evitar que repercutan en su actividad profesional sus estados de ánimo derivados de problemas personales y abstenerse de intervenir en los casos en que los mismos puedan afectar su objetividad.</p>

            <p>Evitar asociarse profesionalmente con quien emplee métodos no científicos.</p>

            <p>Respetar, sin discriminación, las idéas políticas y religiosas de la vida privada, con independencia de la nacionalidad, sexo, edad, posición social o cualquier otra característica personal de sus consultantes.</p>

             <p>Evitar atribuirse o sugerir que tiene calificaciones profesionales, méritos científicos ó títulos académicos que no posee.</p>

            <p>Negarse a expedir certificados e informes basados sólo en la observación directa y personal, es decir, sin estudio previo.</p>
        </div>
	
        
    

	</div>