@{
Layout = "masterPage.cshtml";
Test.Title = "Servicios";
}

<div class="TCCPaneCenter">
		<h5>Servicios</h5>
        
		
		<div class="TCCDivFull">
		    <h2><a id="anxiety">Ansiedad, Depresión y Trastornos de la Personalidad</a></h2>
            
			<table class="SRV_Table">
                <tr>
                    <td><img alt="depress" src="Images/depresion.jpg"></td>
                    <td><p>Ofrecemos diagnóstico y tratamiento en la ansiedad, depresión y trastornos de la personalidad como pudieran ser:
                        <br/><br/>
                        <strong>{ Conflictos en las relaciones interpersonales }</strong>
                    </p>
                        
                        <ul>
                            <li>Trabajo</li>
                            <li>Familia</li>
                            <li>Pareja</li>
                            <li>Sexualidad</li>
                            <li>Problemas de adaptación en la adolescencia</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    
                </tr>
            </table>	    
		    <table class="SRV_Table_List">
                <tr>
                    <td>
                    <p><strong>{ Duelos o perdidas }</strong></p>
                    <ul>
                        <li>Muerte</li>
                        <li>Divorcio</li>
                        <li>Desempleo</li>
                        <li>Separación</li>
                        <li>Rupturas</li>
                    </ul>
                    </td>
                    <td>
                    <p><strong>{ Problemas ansiosos }</strong></p>
                    <ul>
                        <li>Miedos</li>
                        <li>Fobias</li>
                        <li>Panicos</li>
                        <li>Control de la ira</li>
                        <li>Estrés</li>
                        <li>TOC (Trastorno Obsesivo Compulsivo)</li>
                        <li>TDAH (Trastorno por Déficit de Atención e Hiperactividad</li>
                    </ul>
                    </td>
                    <td>
                        <p><strong>{ Adicciones }</strong></p>
                        <ul>
                            <li>Alcoholismo</li>
                            <li>Dependencia a otras sustancias</li>
                            <li>Tabaquismo</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><strong>{ Sexualidad }</strong></p>
                        <ul>
                            <li>Género</li>
                            <li>Poder</li>
                            <li>Disfunciones</li>
                            <li>Problemas de identidad</li>
                            <li>Educación sexual</li>
                            <li>Pareja</li>
                        </ul>
                    </td>
                    <td>
                        <p><strong>{ Trastornos de la conducta alimentaria } </strong></p>
                        <ul>
                            <li>Anorexia</li>
                            <li>Bulimia</li>
                            <li>Obesidad</li>
                            <li>Ortorexia</li>
                            <li>Vigorexia</li>
                        </ul>
                    </td>
                </tr>
            </table>
		</div>
	
		<div class="TCCDivFull">
            <h2><a id="institute">Atención a instituciones escolares</a></h2>
            <table class="SRV_Table">
                <tr>
                    <td><img alt="school" src="Images/school.jpg"></td>
                    <td><p>Para las instituciones escolares ofrecemos información, detección y prevención a través de conferencias, terapia grupal e individual en casos como:
                        <br/><br/>
                        <strong>{ Conflictos en las relaciones interpersonales }</strong>
                    </p>
                        <ul>
                            <li>Bullying</li>
                            <li>Adicciones</li>
                            <li>Cambios en la adolescencia</li>
                            <li>Trastornos de la conducta alimentaria</li>
                            <li>Sexualidad</li>
                        </ul>
                        <p>Entre otros.</p>
                    </td>
                </tr>
            </table>
		    
		</div>

        <div class="TCCToolBoxH">
			<ul >
				<li><a href="TestEval.cshtml" >Test De Evaluaci&oacute;n&nbsp;&nbsp;&nbsp;<img src="Images/test.png" alt="test"></a></li>
				<li><a href="Articles.cshtml">Articulos De Inter&eacute;s&nbsp;&nbsp;&nbsp;<img src="Images/article.png" alt="article"></a></li>
			</ul>
		</div>
</div>