<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BSoft.MailProvider.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
  </configSections>
    <applicationSettings>
        <BSoft.MailProvider.Properties.Settings>
            <setting name="user_pwd" serializeAs="String">
                <value>3C3D91BE088964F80834820831ED84BF</value>
            </setting>
            <setting name="client" serializeAs="String">
                <value>mail.terapiacognitivoconductual.com.mx</value>
            </setting>
            <setting name="bcc" serializeAs="String">
                <value />
            </setting>
            <setting name="port" serializeAs="String">
                <value>26</value>
            </setting>
            <setting name="user_login" serializeAs="String">
                <value>contacto@terapiacognitivoconductual.com.mx</value>
            </setting>
            <setting name="user_name" serializeAs="String">
                <value>Contacto TCC</value>
            </setting>
        </BSoft.MailProvider.Properties.Settings>
    </applicationSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"><assemblies><add assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" /></assemblies></compilation>
  </system.web>
    <connectionStrings>
        <add connectionString="server=108.175.148.57;database=db_psichs;uid=usr_psichs;pwd=USR_psichs2013" name="db_psichs" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>